@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';




font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;
*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top111 { margin-top:111px; }
.top120 { margin-top:120px; }
.top220 { margin-top:220px; }
.top195 { margin-top:195px; }
.top395 { margin-top:395px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }




.container{
  width: 1170px !important;
}


.input100{
	width: 100% !important;
}

.lato-b{
  font-family:"Lato Black";
}


body{
  background: #e5e5e5;
  font-family: 'Lato', sans-serif;
}


h1{
  font-size: 25px;
  color: #37377a;

}

h2{
  font-weight: 300;
  font-size: 20px;
  color: #000;

}

h3{
  font-size: 35px;
  color: #37377a;

}


h4{
  font-weight: 700;
  font-size: 30px;
  color: #37377a;

}



p{
  text-align: justify;
  font-size: 20px;
  color: #000;
  font-weight: 300;
}

a:hover{
	text-decoration: none !important;
}




/**
============================================
					topo
============================================
*/
.topo{
  /*height: 59px;*/
  background: url(../imgs/barra-topo-sombra.png) top center no-repeat;
}

.pagina{
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
}


.topo-telefone h2{
  margin: 20px 0px;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.topo-telefone img{
  margin-right: 13px;
}
.btn-meu-orcamento {
  cursor: pointer;
}

.topo-meu-orcamento {
    background: #fff;
    width: 670px;
    padding: 10px 10px;
}


.topo-meu-orcamento h6{
    font-weight: 700;
    font-size: 30px;
    color: #48489f;
}


.btn-azul {
    background: #23234d;
    color: #fff;
}

.btn-azul:hover{
    color: #fff;
}

.navs-personalizados .navbar-default {
     background: none !important;
     border: none !important;
}


.navs-personalizados .navbar-default .navbar-nav>li>a{
    font-family:"Lato Black";
    height: 100px;
    color: #fff;
    padding: 0px 28px;
    text-align: center;
    background: none;
    text-shadow: 2px 1px 5px rgba(12, 12, 12, 1);
}

.navs-personalizados .navbar-default .navbar-nav>.active>a {
    background: url(../imgs/hover-menu-topo.jpg);
    height: 100px;
    color: #fff;
}

.navs-personalizados .navbar-default .navbar-nav>li>a:hover{
    background: url(../imgs/hover-menu-topo.jpg);
    color: #fff;
}

.navs-personalizados .navbar-default img {
    padding: 5px;
    margin-top: 20px;
}


.navs-personalizados .navbar-collapse {
     padding: 0px;
}
/**
============================================
          topo
============================================
*/


/**
============================================
          RODAPE
============================================
*/

.rodape-preto{
  background: #000;
}

.menu-rodape li a {
    font-size: 14px;
    color: #fff;
    padding-right: 10px;
}

.menu-rodape li {
    float: left;
    margin-right: 10px;
    border-right: 2px solid #fff;
}

.menu-rodape li:last-child {
    border-right: none;
}


.rodape-roxo {

   background: #48489f;
}

.rodape-roxo h5 {
  padding: 6px 0px;
    font-size: 12px;
    color: #fff;
}
.contatos-rodape img {
    padding: 5px;
}

.contatos-rodape p{
    color: #fff;
}


.glyphicon-home:before,.glyphicon-phone:before {
    margin-right: 10px;
}

/**
============================================
          RODAPE
============================================
*/


/**
============================================
          HOME
============================================
*/
.slide-personalizado #content_slider .rsNav {
    width: 200px;
    position: absolute;
    top: 450px;
    right: 14%;
    z-index: 2000;
    cursor: pointer;
}

.slide-personalizado #content_slider .rsNavItem {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #8780a6;
      float: left;
      margin-right: 8px;
}

.slide-personalizado #content_slider .rsNavSelected {
      background: #48489f !important;
}


.slide-personalizado #container_banner {
  width: 100%;
  height: 960px;
  margin: 0px auto;
  overflow: hidden;
  top: 0px;
  position: relative;
}


.slide-personalizado #content_slider {
  width: 1920px;
  height: 960px;
  overflow: hidden;
  position: absolute;
  margin-left: -960px;
  left: 50%;
}



.slide-personalizado  #content-slider-1{
  overflow: visible;
  height: 960px;
}


.slide-personalizado #content_slider .royalSlider.rsAutoHeight, .rsAutoHeight .rsSlide,
.slide-personalizado #content_slider .rsOverflow{
   overflow: visible;
}



.categorias-home h1{
  font-size: 29px;
  color: #fff;
  font-family:"Lato Black";
  text-shadow: 2px 1px 5px rgba(12, 12, 12, 1);
}



.categorias-home .navbar-default {
     background: none !important;
     border: none !important;
}


 .categorias-home li{
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
 }

  .categorias-home li a{
    width: 168px;
  }

.lista-categorias li a{
    display: block;
    font-size: 21px;
    line-height: 27px;
    height: 150px;
    overflow: hidden;
    padding: 0px;
    color: #000;
    text-align: center;
}

.lista-categorias li.active>a {
    background: url(../imgs/menu-hover-produtos.png);
    height: 150px;
    color: #fff;
}

.lista-categorias li a:hover{
    background: url(../imgs/menu-hover-produtos.png);
    color: #fff;
}

.categorias-home .navbar-collapse {
     padding: 0px;
}

.pesquisa-home{
  background: #e5e5e5 ;
}


.posicao-imagem a img {
    margin: 0px 0px -14px 263px !important;
}


.listagem-produtos h1{
  height: 30px;
  overflow: hidden;
}

.listagem-produtos h2{
  height: 48px;
  overflow: hidden;
}

/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
    position:relative;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
  content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

.listagem-produtos .thumbnail {
    margin-bottom: 50px;
}

.fundo-branco{
  background: #fff !important;
}

.conhecaImperio h2 {
    padding-left: 50px;
    background: url(../imgs/icon-conheca.png) 11px center no-repeat;
}

.conhecaImperio p{
    height: 118px;
    overflow: hidden;
}

.listagem-dicas .thumbnail{
  margin-bottom: 71px;
  padding: 0px;
}

.listagem-dicas h2{
  height: 48px;
  overflow:hidden;
  color: #37377a;
  font-weight: 700;
}

.listagem-dicas p{
  font-size: 13px;
  color: #30302f;
}

.listagem-dicas span{
  padding-left: 24px;
}


.fa-calendar:before,.fa-comments-o:before{
    margin-right: 5px;
}

.listagem-dicas h1{
  margin-top: 18px;
  font-family:"Lato Black";
  color: #37377a;
  font-size: 25px;
  text-align: right;

}

.listagem-dicas h3{
  margin-bottom: 12px;
  font-family:"Lato Black";
  color: #37377a;
  font-size: 50px;
  text-align: right;

}

.bg-saiba-mais{
  height: 505px;
  background: url(../imgs/bg-conhecaMais.jpg) top center no-repeat;
}

.conhecaImperio{
  }


.bg-saiba-mais{

}
/**
============================================
          HOME
============================================
*/


/**
============================================
          EMPRESA
============================================
*/
.bg-empresa{
 background: #e5e5e5 url(../imgs/empresa.jpg) top center no-repeat;
}

.titulo-pagina h1{
  font-family:"Lato Black";
  font-size: 34px;
  color: #fff;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 1);
}

.titulo-pagina h2{
  font-family:"Lato Black";
  font-size: 80px;
  color: #fff;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 1);
}

.descricao-empresa h2{
  margin-top: 108px;
  font-size: 28px;
  color: #37377a;
}


.descricao-empresa h3{
  margin-left: 15px;
  font-family:"Lato Black";
  color: #37377a;
}

.personaliza-caroucel{
    height: 205px;
  }

.personaliza-caroucel h2{
  font-weight: 700;
  color: #2d2d63;
}

.carousel-control .glyphicon-chevron-right,.carousel-control .glyphicon-chevron-left{
    color: #2d2d63;
    background-image: none;
}

.controles,.carousel-control.left,.carousel-control.right {
     background-image: none;

}


/**
============================================
          EMPRESA
============================================
*/



/**
============================================
          CONTATOS
============================================
*/

.bg-contato{
 background: #e5e5e5 url(../imgs/bg-contatos.jpg) top center no-repeat;
}

.menu-empresa {
    background: url(../imgs/bg-trabalhe-conosco.png) top 65px left no-repeat;
}
/*.posicao{
  position: relative;
}
*/
.fundo-form{
  background: #e5e5e5;
}

.menu-contatos>li>a {
    font-size: 20px;
    color: #2d2d63;
}

.menu-contatos>li.active>a, .menu-contatos>li.active>a:hover, .menu-contatos>li.active>a:focus{
    color: #2d2d63;
}

.btn-azul{
  background: url(../imgs/fundo-botao-contatos.png) center no-repeat;
  padding: 8px 12px;
  font-size: 20px;
  border-radius: 0px;
  height: 47px;
  width: 137px;
}

.FormContato label,.FormCurriculo label{
   color: #2d2d63;
}
/**
============================================
          CONTATOS
============================================
*/


/**
============================================
          DICAS
============================================
*/
.bg-dicas{
 background: #e5e5e5 url(../imgs/bg-dicas.jpg) top center no-repeat;
}


.dicas{
 background: #e5e5e5 url(../imgs/dicas.jpg) top center no-repeat;
}

.listagem-dicas1 .thumbnail {
    margin-bottom: 47px;
    padding: 0px;
}

.dicas-dentro h2{
  font-weight: 700;
  color: #37377a;
}
.fa-comments-o:before {
    margin-left: 25px;
}

.listagem-dicas11 .thumbnail {
    padding: 0px;
}


.listagem-dicas11 h2{
  font-weight: 700;
   color: #37377a;
   height: 47px;
    overflow: hidden;
    margin-bottom: 10px;
}

.listagem-dicas11 p{
  font-size: 13px;
  color: #30302f;
}

.dica-tempo p{
  font-size: 13px;
  color: #30302f;
}
/**
============================================
          DICAS
============================================
*/


/**
============================================
          ORCAMENTOS
============================================
*/
.bg-orcamentos{
 background: #e5e5e5 url(../imgs/bg-orcamentos.jpg) top center no-repeat;
}

.fundo-cinza1 img {
    margin: 6px 10px;
    border-radius: 5px;
    border: 3px solid #2e2e65;
}

.fundo-cinza1 {
    height: 100px;
    background: #d8d8d9;
}

.input-lista-prod-orcamentos {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fundo-cinza1 a img {
    margin: none !important;
    border-radius: none !important;
    border: none !important;
}

.descricao-orcamento h3 {
    padding-bottom: 10px;
    font-size: 40px;
    color: #225d7f;
    font-weight: 700;
}

.fundo-form1 {
    background: #fff;
}

.pesquisa-orcamento p {
  font-weight: 300;
    margin: 15px 0px;
    font-size: 20px;
    color: #2d2d63;
}

.fa-globe:before {
    margin-right: 10px;
}

.pesquisa-orcamento label{
 font-size: 17px;
 color: #2d2d63;
 font-weight: 700;
}

/**
============================================
          ORCAMENTOS
============================================
*/

/**
============================================
          PRODUTOS
============================================
*/
.bg-produtos{
 background: #e5e5e5 url(../imgs/bg-produtos.jpg) top center no-repeat;
}


.listagem-produtosDentro .thumbnail {
    margin-bottom: 20px;
}

.posicao-imagem1 a img {
    margin: -56px 0px -16px 360px !important;
}

.slider-produtos .flexslider {
    margin: 0 0 29px !important;
}

.slider-prod-dentro {
    margin-right: 147px;
    background: none;
}

.descricao-dentro h1,.avaliacoes h2{
  font-family:"Lato Black";
  color: #37377a;
}

.descricao-dentro h1,.avaliacoes h2{
  font-family:"Lato Black";
  color: #37377a;
}


.veja-tambem h2{
  font-family:"Lato Black";
  color: #37377a;
  font-weight: 700;

}

.veja-tambem h4{
  font-family:"Lato Black";
  margin-bottom: 16px;

}
/**
============================================
          PRODUTOS
============================================
*/

/**
============================================
          SERVICOS
============================================
*/
.bg-servicos{
 background: #e5e5e5 url(../imgs/bg-servicos.jpg) top center no-repeat;
}


/**
============================================
          SERVICOS
============================================
*/




.lista-servico p{
    height: 253px;
    overflow: hidden;
}


.btn-roxo{
  background: #48489F;
  color: #fff;
}

.btn-roxo:hover{
  background: #202048;
  color: #fff;
}



.lista-itens-carrinho{
  margin: 10px 0px;
  overflow: hidden;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 20px;
  padding-bottom: 10px;
}


.btn-pesquisa{
  border: none;
}






.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}







.flexslider .slides img{
  width: auto !important;
}


.flexslider{
  border: none !important;
  background: none !important;
}


.custom-controls-container{
  background: #00f;
}

.custom-navigation a{
  background: red;
}



.categorias-home .flex-control-nav{
  margin-left: 50%;
}
