@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
	font-family: 'cabinregular';
	font-family: 'cabinbold';
	font-family: 'bebasregular';
	font-family: 'pt_sansbold';
	font-family: 'pt_sansregular';
	font-family: 'yanone_kaffeesatzbold';
	font-family: 'yanone_kaffeesatzregular';
*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top105 { margin-top:105px; }
.top195 { margin-top:195px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }


.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }


.container{
	max-width: 480px;
}


.input100{
	width: 100% !important;
}


body{
	font-family: 'Lato', sans-serif;
	background: #e5e5e5;
}


h1{
	font-size: 16px;
	color: #37377a;
}


h2{
	font-size: 14px;
	color: #37377a;
}

h2 span{
	font-size: 29px;
}


h3{
	font-size: 26px;
	color: #37377a;
}



p{
	font-size: 13px;
	color: #000000;
	text-align: justify;
}







/* ============================ menu ============================ */
.menu-home-div{
	background: #009636;
	border: 0 !important;  /*Removes border*/
	border-radius: 0px;
	height: 45px;
	text-align: center;
	margin-bottom: 1px;
	overflow: hidden;
}


.menu-home{
	background: #bd312a url(../imgs/bars.jpg) 10px 11px no-repeat;
  	height: 40px;
  	color: #fff;
  	font-weight: 700;
  	text-indent: 50px;
}
/* ============================ menu ============================ */



/* ============================ rodape ============================ */
.rodape-cinza{
	height: 120px;
	background: #505050;
}


.rodape-preto{
	color: #fff;
	font-size: 14px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	background: #000;
}

.rodape-cinza p{
	color: #fff;
	font-size: 12px;
	font-weight: 700;
}

.rodape-cinza p span, .rodape-cinza a{
	color: #fff;
	font-size: 11px;
	font-weight: 400;
}
/* ============================ rodape ============================ */






/* 
============================================
topo
============================================
*/
.topo{
	z-index: 2;
	position: relative;
	background: url(../imgs/bg-topo.jpg) top center no-repeat;
	height: 58px;
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	padding-top: 20px;
}


.btn-azul, .btn-azul:hover{
	background: #23234f;
	color: #fff;
}


.btn-azul-orc, .btn-azul-orc:hover{
	background: #23234f;
	color: #fff;
	font-size: 11px;
}

.btn-topo{
	margin-left: 2px;
	font-size: 9px;
	padding: 6px;
}


.topo-tel{
	margin-top: 3px;
}


.sub-menu{
	width: 100%;
	background: #494AA6;
}

.sub-menu li a{
	color: #fff;
}

.menu-logo{
	position: absolute;
}


/* 
============================================
topo
============================================
*/










/* 
============================================
slider
============================================
*/



.margin-slider .carousel-indicators{
    width: 20%;
    left: 100%;
}


.margin-slider .carousel-indicators li{
	background: url(../imgs/icon-slider.png);
	border: none;
	width: 21px;
	height: 21px;
}

.margin-slider .carousel-control{
	top: 347px;
    
}


.carousel-indicators li.active{
	background: #48489f	;
}


.zero-padding{
	padding: 0px;
}

.bg-cinza{
	background: #cfcfcf;
}

.slider-index .carousel-control.right, .slider-index .carousel-control.left{
	background: none;
	color: #48489f;
}

 .slider-index .carousel-control.left{
 	left: 285px;
 }

/* 
============================================
slider
============================================
*/




#slider-prod{
	position: relative;
}




/* 
============================================
tabela orcamento 
============================================
*/

.input-lista-prod-orcamentos {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 16px;
}



.link-excluir{
	margin-top: 30px;
}



/* 
============================================
tabela orcamento 
============================================
*/

/* comentarios */

.lista-comentario, .lista-avaliacao{
	padding: 10px 0px;
	border-bottom: 2px dotted #e5e5e5;
	overflow: hidden;
}

.lista-comentario h1{
	color: #6f6f6f;
	font-weight: 700;
}

.lista-comentario h2{
	font-size: 13px;
	color: #6f6f6f;
}

.icon-descricao{
	background: url(../imgs/icon-descricao.jpg) left top no-repeat;
	padding-left: 50px;
	padding-bottom: 40px;
}

.icon-comentario{
	padding-bottom: 10px;
}

.icon-descricao h1, .icon-comentario h1, .h1titulo{

	line-height: 35px;
	font-size: 21px;
}

/* comentarios */





.tabs-cont .nav>li>a{
	font-size: 13px;
    padding: 10px 7px !important;
    color: #2d2d63 !important;
}



.tabs-contatos .nav-tabs>li>a:hover{
	background: #f2f2f2;
	border: none;
}








.pesquisa-prod-index{
	margin-top: -60px;
}


.pesquisa-prod-internas{
	margin-top: 317px;
}




.bg-cinza{
	background: #e5e5e5;
}


.border-none{
	border: none;
}

.pesquisa-prod select,
.pesquisa-prod input{
	height: 50px;
	background: #fff;
	font-size: 14px;
	color: #414141;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0px !important;
}


.lista-categorias li{
	width: 130px;
	height: 140px;
	background: #cecece;
}

.lista-categorias li a{
	color: #000000;
	font-size: 14px;
}

.flexslider .slides > li{
	margin-left: 19px;
}

.flexslider .slides img{
	width: auto !important;
}


.flexslider{
	border: none !important;
	background: none !important;
}


.flex-direction-nav a{
	top: 117% !important;
}


.lista-produto .thumbnail{
	/*height: 200px;*/
	position: relative;
}


.btn-mais-prod{
	position: absolute;
	right: 0px;
	bottom: 0px;
}


.btn-mais-prod-dentro{
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 20
}



.lista-produto h1{
    height: 34px;
    overflow: hidden;	
}


.lista-produto p{
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bg-conheca{
	background: url(../imgs/bg-conheca-imperio-home.jpg) top center no-repeat;
	height: 275px;
}


.conheca-p{
    height: 75px;
    overflow: hidden;
}

.dicas h1{
	font-size: 14px;
}

.dicas h1 span{
	font-size: 29px;
}


.bg-empresa{
	background: #e5e5e5 url(../imgs/bg-empresa.jpg) center 58px no-repeat;
}

.bg-produtos{
	background: #e5e5e5 url(../imgs/bg-produtos.jpg) center 58px no-repeat;
}

.bg-dicas{
	background: #e5e5e5 url(../imgs/bg-dicas.jpg) center 58px no-repeat;
}

.bg-contato{
	background: #e5e5e5 url(../imgs/bg-contato.jpg) center 58px no-repeat;
}


.bg-orcamento{
	background: #e5e5e5 url(../imgs/bg-orcamento.jpg) center 58px no-repeat;
}

.bg-servicos{
	background: #e5e5e5 url(../imgs/servicos.jpg) center 58px no-repeat;	
}


.bg-desc-empresa{
	min-height: 355px;
	background: url(../imgs/bg-desc-empresa.jpg) bottom center no-repeat;
}

.bg-branco{
	background: #fff;
}


.depoimentos h1{
	font-size: 19px;
}

.depoimentos h1 span{
	font-size: 23px;
	font-weight: 700;
}

.lista-depoimentos .carousel-control.left,
.lista-depoimentos .carousel-control.right
{
    background: none !important;
    color: #37377a;
}



.lista-depoimentos .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
	top: -19%;
    color: #37377a;
    background: none;
}


.lista-depoimentos .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
	
}


.slider-prod-tumb{

}

#carousel-prod .flex-direction-nav a {
    top: 39% !important;
}

.bg-form-contato{
	background: url(../imgs/bg-form-contato.jpg) bottom center  no-repeat;
	padding-bottom: 70px;
}

.lista-servico p{
    height: 148px;
    overflow: hidden;
}
















